<!-- <div class="wrapper" [ngClass]="card.type"> -->
<div class="wrapper {{card.type}}" [ngClass]="{revealed: card.isRevealed, covered: !card.isRevealed}">
    <div class="cover" *ngIf="card.isRevealed">
        <img [src]="imgUrl">
        <div class="restrict-overflow">
            <div class="backdrop" [ngStyle]="{'background-image': backgroundUrl}"></div>
        </div>
    </div>
    <div class="word">
        {{card.word}}
        <div class="upsidedown">{{card.word}}</div>
    </div>
</div>