app-settings {
    right: 9px;
    position: absolute;
    font-size: 4.5vh;
}

.brand {
    color: white;
    display: inline-block;
    font-size: 4vh;
}

.nav {
    padding-left: 9px;
    padding-right: 9px;
    background: #3e313b;
    box-shadow: 0px 0px 6px -1px black;
}