<div class="menu">
    <div class="header">
        Settings
    </div>
    <div class="options">
        <div class="option-row">
            <div class="option Red" (click)="newGameBoardRed()">&nbsp;</div>
            <div class="subhead">← Words →</div>
            <div class="option Blue" (click)="newGameBoardBlue()"></div>
        </div>
        <div class="option-row">
            <div class="option Red" (click)="newAnswerBoardRed()">&nbsp;</div>
            <div class="subhead">← Codes →</div>
            <div class="option Blue" (click)="newAnswerBoardBlue()"></div>
        </div>
    </div>
    <div class="option close" (click)="closeEvent.emit()">Close</div>
</div>
<div class="backdrop" (click)="closeEvent.emit()"></div>
