<div class="action-left">
    <div *ngIf="actionStack.hasUndo()" (click)="flow.emit(undo)"><i class="material-icons">undo</i></div>
</div>
<div *ngFor="let cardType of typeList" class="type" 
    [ngClass]="{'selected': selectedType && selectedType === cardType}" 
    (click)="type = cardType">
    <div class="type-count">{{grid.typeRemaining(cardType)}}</div>
    <img class="type-img" [src]="'assets/cards/' + cardType + '_1.jpg'"/>
</div>
<div class="action-right">
    <div *ngIf="actionStack.hasRedo()" (click)="flow.emit(redo)"><i class="material-icons">redo</i></div>
</div>
