.type {
    position: relative;
    top: 0;
    cursor: pointer;
    transition: all .35s;
    display: inline-block;
    margin: 0 9px;
    border: 6px solid #cec0a9;
    border-radius: 4px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.type.selected, .type.selected:hover  {
    top: -2vh;
    border: 6px solid #fff5bf;
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
}

.type:hover {
    border: 6px solid #fff5bf6e;
}

.type-img {
    height: 15vh;
    max-height: calc(100vw / 8);
}

.type-count {
    position: absolute;
    right: 0;
    width: 5vh;
    height: 5vh;
    background: #ffffff54;
    border: 1px solid black;
    color: black;
    font-size: 4vh;
    border-bottom-left-radius: 6px;
}

.action-left, .action-right {
    display: inline-block;
    width: 24px;
    cursor: pointer;
    color: white;
}

.no-select, .action-left, .action-right, .type-count {
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.types {
    position: fixed;
    transition: top .35s;
}

.types.prompt {
    top: calc(50% - 14vh);
}